<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="connection.url">jdbc:mysql://localhost:3306/card</property>
  <property name="connection.username">root</property>
  <property name="connection.password">123456</property>
  <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <property name="hbm2ddl.auto">update</property>
  <property name="show_sql">true</property>
  <!--  
    	<property name="hibernate.connection.provider_class">
    		org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider
    	</property>
    	<property name="hibernate.c3p0.min_size">2</property>
    	<property name="hibernate.c3p0.max_size">5</property>
    	<property name="hibernate.c3p0.timeout">300</property>
    	<property name="hibernate.c3p0.max_statements">100</property>
    	<property name="hibernate.c3p0.idle_test_period">3000</property>
    	-->
  <mapping resource="com/edu/model/user/User.hbm.xml"/>
  <mapping resource="com/edu/model/card/Card.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
